<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: #2aa970;

        }
        h3 {
            color: #173856;
        }
    </style>

    <meta charset="UTF-8">
    <title>Title</title>
    <style>
  .center {
    margin: auto;
    width: 60%;
    top: 3%;
    border: 5px solid #a92a2a;
    padding: 10px;
  }
</style>
</head>
<body>

<form action="result">
<div class="center">
    <h3> sati calculator :-) </h3>
    <br>
    <label>Number 1</label> =
    <input type="number"  name="num1">
    <br><br>
    <label>Number 2</label> =
    <input type="number"  name="num2"><br><br>
    <button type="submit" name="add"><h1>+</h1></button>
    <button type="submit" name="subtract"><h1>-</h1></button>
    <button type="submit" name="multiply"><h1>*</h1></button>
    <button type="submit" name="divide"><h1>/</h1></button>
<!--<h1><a href="/"> Result</a></h1>-->
</div>
</form>
</body>
</html>